@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #1a1b26;
  color: #c0caf5;
  font-family: var(--font-poppins), sans-serif;
}

* {
  cursor: none !important;
}

html {
  scroll-behavior: smooth !important;
}

section {
  scroll-margin-top: 100px;
}

h2 {
  letter-spacing: -0.02em;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

p {
  line-height: 1.7;
}

